@{
    ViewBag.Title = "Home Page";
}

<div class="col-lg-8 col-md-10 mx-auto">
    <h1>Cool Articles</h1>
    <hr />
    <hr />
    <hr />
    <div class="post-preview">
        <a href="http://www.quantum-dynamic.eu/doc/feynman85_qmc_optics_letters.pdf" target="_blank;">
            <h2 class="post-title">
                Quantum Mechanical Computers
            </h2>
            <h3 class="post-subtitle">
                This work is part of an effort to analyze the limitations of computers do to the laws of physics...
            </h3>
        </a>
        <p class="post-meta">
            Authored by Richard P. Feynman
            @*<a href="#">Start Bootstrap</a>*@
            on June 21, 1984
        </p>
    </div>
    <hr>

    <div class="post-preview">
        <a href="http://www.ece.cmu.edu/~ganger/712.fall02/papers/p761-thompson.pdf" target="_blank;">
            <h2 class="post-title">
                Reflections on Trusting Trust
            </h2>
            <h3 class="post-subtitle">
                The moral is obvious. You can't trust code that you did not totally create yourself...
            </h3>
        </a>
        <p class="post-meta">
            Authored by Ken Thompson
            @*<a href="#">Start Bootstrap</a>*@
            in August, 1984
        </p>
    </div>
    <hr>

    <div class="post-preview">
        <a href="https://ece.uwaterloo.ca/~dwharder/NumericalAnalysis/02Numerics/Double/paper.pdf" target="_blank;">
            <h2 class="post-title">
                What Every Computer Scientist Should Know About Floating-Point Arithmetic
            </h2>
            <h3 class="post-subtitle">
                Floating-point arithmetic is considered an esoteric subject by many people...
            </h3>
        </a>
        <p class="post-meta">
            Authored by David Goldberg
            @*<a href="#">Start Bootstrap</a>*@
            in March, 1991
        </p>
    </div>
    <hr>

    <div class="post-preview">
        <a href="https://cms.math.ca/openaccess/cjm/v17/cjm1965v17.0449-0467.pdf" target="_blank;">
            <h2 class="post-title">
                Paths, Trees & Flowers
            </h2>
            <h3 class="post-subtitle">
                A graph G for purposes here is a finite set of elements called vertices and a finite set of elements called edges...
            </h3>
        </a>
        <p class="post-meta">
            Authored by Jack Edmonds
            @*<a href="#">Start Bootstrap</a>*@
            in February, 1965
        </p>
    </div>
    <hr>

    <div class="post-preview">
        <a href="http://cgi.di.uoa.gr/~sgk/teaching/grad/handouts/karp.pdf" target="_blank;">
            <h2 class="post-title">
                Reducability Among Combinatorial Problems
            </h2>
            <h3 class="post-subtitle">
                A large class of computational problems involve the determination of properties of graphs...
            </h3>
        </a>
        <p class="post-meta">
            Authored by Richard M. Karp
            @*<a href="#">Start Bootstrap</a>*@
            in 1972
        </p>
    </div>
    <hr>

    <div class="post-preview">
        <a href="http://www.ams.org/journals/tran/1965-117-00/S0002-9947-1965-0170805-7/S0002-9947-1965-0170805-7.pdf" target="_blank;">
            <h2 class="post-title">
                On the Computational Complexity of Algorithms
            </h2>
            <h3 class="post-subtitle">
                Some computable sequences are very easy to compute whereas other computable sequences seem to have an inherent complexity...
            </h3>
        </a>
        <p class="post-meta">
            Authored by J. Hartmanis & R. E. Stearns
            @*<a href="#">Start Bootstrap</a>*@
            in May, 1965
        </p>
    </div>
    <hr>

    <div class="post-preview">
        <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.94.6289&rep=rep1&type=pdf" target="_blank;">
            <h2 class="post-title">
                A Theory of the Learnable
            </h2>
            <h3 class="post-subtitle">
                In this paper we regard learning as the phenomenon of knowledge acquisition in the absence of explicit programming...
            </h3>
        </a>
        <p class="post-meta">
            Authored by L. G. Valiant
            @*<a href="#">Start Bootstrap</a>*@
            in November, 1984
        </p>
    </div>
    <hr>

    <div class="post-preview">
        <a href="http://www.cs.huji.ac.il/~nati/PAPERS/expander_survey.pdf" target="_blank;">
            <h2 class="post-title">
                Expander Graphs and Their Applications
            </h2>
            <h3 class="post-subtitle">
                Graphs are among the most ubiquitous models of both natural and human-made structures...
            </h3>
        </a>
        <p class="post-meta">
            Authored by Shlomo Hoory, Nathan Linial & Avi Wigderson
            @*<a href="#">Start Bootstrap</a>*@
            in October, 2006
        </p>
    </div>
    <hr>

    <!--Pager-->
    <div style="float:right;" class="btn-group">
        <div style="margin-right:3px;" class="clearfix">
            <a class="btn btn-dark float-right" href="#">Back To Top</a>
        </div>
        <div class="clearfix">
            <a class="btn btn-dark float-right" href="@Url.Action("Index", "Posts")">My Posts &rarr;</a>
        </div>
    </div>
</div>

